<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home 2</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>

    <style>
        .container {
            margin-top: 25px;
        }

        form {
            width: 250px;
            margin: 0 auto 25px;
        }

        form div {
            margin-bottom: 10px;
        }

        .table {
            width: 450px;
            margin: 0 auto 25px;
        }
    </style>
</head>

<body>
    <div id="app" class="container">

        <!-- 
        
        Задача 2

        Создать форму для вывода информации о компаниях в виде таблицы. 
        Таблица должна содержать 3 колонки: Порядковый номер компании, Название компании, ИНН.

        В качестве структуры для хранения данных в экземпляре Vue - использовать массив объектов (компаний). 

        Заполнение массива компаний необходимо выполнить в хуке created() экземпляра Vue.
                
        -->

        <form action="#" method="post" @submit="addCompany">

            <div class="input-group mb-3">
                <label for="name">Название компании</label>
                <input v-model="name" type="text" id="name" name="name" class="form-control">
            </div>

            <div class="input-group mb-3">
                <label for="inn">ИНН</label>
                <input v-model="inn" type="text" id="inn" name="inn" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>

        </form>

        <table class="table">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">ИНН</th>
            </tr>
            <tr v-for="(company, index) in companies">
                <td>{{index + 1}}</td>
                <td>{{company.name}}</td>
                <td>{{company.inn}}</td>
            </tr>
        </table>

    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                name: '',
                inn: '',
                companies: [
                    {
                        name: 'Google',
                        inn: '13',
                    },
                    {
                        name: 'Yandex',
                        inn: '37',
                    },
                    {
                        name: 'Ozon',
                        inn: '71',
                    },
                ],
            },
            methods: {
                addCompany: function (event) {
                    event.preventDefault();

                    this.companies.push({
                        name: this.name, 
                        inn: this.inn,
                    });
                }
            }
        })
    </script>
</body>

</html>